<a href="https://colab.research.google.com/github/mnocerino23/Wildfire-Forecaster/blob/main/california_wildfires.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Read in dataset queryed from SQL database into Pandas:

In [1]:
#The dataset comes from a SQLite database found on Kaggle: https://www.kaggle.com/datasets/rtatman/188-million-us-wildfires
#I performed this query in SQLite than exported the results to the csv file we read in below
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
wildfires = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CA_wildfires_since2000.csv')

Mounted at /content/drive

In [2]:
wildfires.head(10)

,OBJECTID,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,SOURCE_REPORTING_UNIT_NAME,FIRE_NAME,FIRE_YEAR,DISCOVERY_DOY,CONT_DOY,STAT_CAUSE_DESCR,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_NAME
0,1,USCAPNF,Plumas National Forest,0511,Plumas National Forest,FOUNTAIN,2005,33,33.0,Miscellaneous,0.10,A,40.036944,-121.005833,USFS,CA,63,Plumas
1,2,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,PIGEON,2004,133,133.0,Lightning,0.25,A,38.933056,-120.404444,USFS,CA,61,Placer
2,3,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,SLACK,2004,152,152.0,Debris Burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,El Dorado
3,4,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,DEER,2004,180,185.0,Lightning,0.10,A,38.559167,-119.913333,USFS,CA,3,Alpine
4,5,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,STEVENOT,2004,180,185.0,Lightning,0.10,A,38.559167,-119.933056,USFS,CA,3,Alpine
5,6,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,HIDDEN,2004,182,183.0,Lightning,0.10,A,38.635278,-120.103611,USFS,CA,5,Amador
6,7,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,FORK,2004,183,184.0,Lightning,0.10,A,38.688333,-120.153333,USFS,CA,17,El Dorado
7,8,USCASHF,Shasta-Trinity National Forest,0514,Shasta-Trinity National Forest,SLATE,2005,67,67.0,Debris Burning,0.80,B,40.968056,-122.433889,STATE OR PRIVATE,CA,NaN,NaN
8,9,USCASHF,Shasta-Trinity National Forest,0514,Shasta-Trinity National Forest,SHASTA,2005,74,74.0,Debris Burning,1.00,B,41.233611,-122.283333,STATE OR PRIVATE,CA,NaN,NaN
9,10,USCAENF,Eldorado National Forest,0503,Eldorado National Forest,TANGLEFOOT,2004,183,184.0,Lightning,0.10,A,38.548333,-120.149167,USFS,CA,5,Amador

In [3]:
#Print the shape of the data: Here we see we have data on over 110,000
#California wildfires since 2000
wildfires.shape

(114558, 18)

In [4]:
wildfires.drop(['OBJECTID', 'NWCG_REPORTING_UNIT_ID', 'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT', 'NWCG_REPORTING_UNIT_NAME'], axis = 1, inplace = True)

In [5]:
#Use the pandas info function to get an overview of the different features within the dataset and their datatypes as well as NaN counts
wildfires.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 114558 entries, 0 to 114557
Data columns (total 14 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   SOURCE_REPORTING_UNIT_NAME  114558 non-null  object
 1   FIRE_NAME                   103308 non-null  object
 2   FIRE_YEAR                   114558 non-null  int64
 3   DISCOVERY_DOY               114558 non-null  int64
 4   CONT_DOY                    61574 non-null   float64
 5   STAT_CAUSE_DESCR            114558 non-null  object
 6   FIRE_SIZE                   114558 non-null  float64
 7   FIRE_SIZE_CLASS             114558 non-null  object
 8   LATITUDE                    114558 non-null  float64
 9   LONGITUDE                   114558 non-null  float64
 10  OWNER_DESCR                 114558 non-null  object
 11  STATE                       114558 non-null  object
 12  COUNTY                      51834 non-null   object
 13  FIPS_NAME                   51834 non-null   object
dtypes: float64(4), int64(2), object(8)
memory usage: 12.2+ MB

In [6]:
wildfires.describe()

,FIRE_YEAR,DISCOVERY_DOY,CONT_DOY,FIRE_SIZE,LATITUDE,LONGITUDE
count,114558.000000,114558.000000,61574.000000,114558.000000,114558.000000,114558.000000
mean,2007.922380,197.569450,200.625231,80.792444,37.495814,-120.259658
std,4.293784,68.558497,67.587688,2446.430633,2.551040,2.129471
min,2001.000000,1.000000,1.000000,0.001000,32.544965,-124.402883
25%,2004.000000,159.000000,164.000000,0.100000,35.425000,-121.770258
50%,2008.000000,198.000000,203.000000,0.250000,37.697311,-120.596944
75%,2012.000000,244.000000,245.000000,1.000000,39.458972,-118.754703
max,2015.000000,366.000000,366.000000,315578.800000,42.038090,-114.155500

Take note of a few things here:
1. The average wildfire size in this dataset is 81 acres
2. most fires last around 2.5 days
3. The mean discovery date of year for California wildfires is 197, which corresponds to July 16th


---



Another consideration: this database only contains fires from 2001 - 2015. We will join it with a second dataset that has fires from 2013-2020 also from Kaggle(https://www.kaggle.com/datasets/ananthu017/california-wildfire-incidents-20132020)

In [7]:
#Read in second Kaggle dataset to add more recent wildfires (2016-2020) onto our existing dataset
wildfires2 = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/California_Fire_Incidents.csv', usecols = [0,2,4,9,10,14,21,23,25,31])

In [8]:
wildfires2.head()

,AcresBurned,AdminUnit,ArchiveYear,Counties,CountyIds,Extinguished,Latitude,Longitude,Name,Started
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,2013-09-06T18:30:00Z,37.857000,-120.086000,Rim Fire,2013-08-17T15:25:00Z
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,2013-06-08T18:30:00Z,34.585595,-118.423176,Powerhouse Fire,2013-05-30T15:28:00Z
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-07-30T18:00:00Z,33.709500,-116.728850,Mountain Fire,2013-07-15T13:43:00Z
3,27440.0,Tahoe National Forest,2013,Placer,31,2013-08-30T08:00:00Z,39.120000,-120.650000,American Fire,2013-08-10T16:30:00Z
4,24251.0,Ventura County Fire/CAL FIRE,2013,Ventura,56,2013-05-11T06:30:00Z,0.000000,0.000000,Springs Fire,2013-05-02T07:01:00Z

Rename Columns so that we can have two consistent datasets with the same features:

In [9]:
wildfires.rename(columns = {'FIRE_SIZE':'AcresBurned', 'FIRE_YEAR':'Year', 'FIRE_NAME':'Name', 'DISCOVERY_DOY':'Discovered DOY'
                  ,'CONT_DOY':'Contained DOY', 'STAT_CAUSE_DESCR':'Cause','LATITUDE':'Latitude', 'LONGITUDE': 'Logitude', 'COUNTY':'CountyIds',
                  'STATE':'State','FIRE_SIZE_CLASS': 'Fire Size Rank', 'FIPS_NAME': 'County'
                  }, inplace = True)
wildfires2.rename(columns = {'ArchiveYear':'Year', 
                             'Started':'Discovered DOY', 'Extinguished':'Contained DOY', 'Counties': 'County'},
                  inplace = True)

In [10]:
wildfires.head(5)

,SOURCE_REPORTING_UNIT_NAME,Name,Year,Discovered DOY,Contained DOY,Cause,AcresBurned,Fire Size Rank,Latitude,Logitude,OWNER_DESCR,State,CountyIds,County
0,Plumas National Forest,FOUNTAIN,2005,33,33.0,Miscellaneous,0.10,A,40.036944,-121.005833,USFS,CA,63,Plumas
1,Eldorado National Forest,PIGEON,2004,133,133.0,Lightning,0.25,A,38.933056,-120.404444,USFS,CA,61,Placer
2,Eldorado National Forest,SLACK,2004,152,152.0,Debris Burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17,El Dorado
3,Eldorado National Forest,DEER,2004,180,185.0,Lightning,0.10,A,38.559167,-119.913333,USFS,CA,3,Alpine
4,Eldorado National Forest,STEVENOT,2004,180,185.0,Lightning,0.10,A,38.559167,-119.933056,USFS,CA,3,Alpine

In [11]:
wildfires2.head(5)
#We need to add features fire size class, discovery DOY and contained DOY to the wildfires2 dataset
#and ensure the county labels are consistent between both datasets

,AcresBurned,AdminUnit,Year,County,CountyIds,Contained DOY,Latitude,Longitude,Name,Discovered DOY
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,2013-09-06T18:30:00Z,37.857000,-120.086000,Rim Fire,2013-08-17T15:25:00Z
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,2013-06-08T18:30:00Z,34.585595,-118.423176,Powerhouse Fire,2013-05-30T15:28:00Z
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-07-30T18:00:00Z,33.709500,-116.728850,Mountain Fire,2013-07-15T13:43:00Z
3,27440.0,Tahoe National Forest,2013,Placer,31,2013-08-30T08:00:00Z,39.120000,-120.650000,American Fire,2013-08-10T16:30:00Z
4,24251.0,Ventura County Fire/CAL FIRE,2013,Ventura,56,2013-05-11T06:30:00Z,0.000000,0.000000,Springs Fire,2013-05-02T07:01:00Z

The second dataset has information on Discovery DOY, Contained DOY, CountyIds, but it's in a different format so we will need to clear things up and make both datasets consistent before combining.

In [12]:
wildfires2.astype({'Contained DOY': 'str', 'Discovered DOY': 'str'}).dtypes

for index, row in wildfires2.iterrows():
  date = wildfires2.at[index,'Discovered DOY']
  year_month_date = ''
  for i in (range(10)):
    year_month_date += date[i]
  #print(year_month_date)
  wildfires2.at[index,'Discovered DOY'] = year_month_date

for index, row in wildfires2.iterrows():
  date = wildfires2.at[index,'Contained DOY']
  if type(date) == str:
    year_month_date = ''
    for i in (range(10)):
      year_month_date += date[i]
    #print(year_month_date)
    wildfires2.at[index,'Contained DOY'] = year_month_date
  else:
    wildfires2.at[index,'Contained DOY'] = 'NaN'

In [13]:
wildfires2.head(5)

,AcresBurned,AdminUnit,Year,County,CountyIds,Contained DOY,Latitude,Longitude,Name,Discovered DOY
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,2013-09-06,37.857000,-120.086000,Rim Fire,2013-08-17
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,2013-06-08,34.585595,-118.423176,Powerhouse Fire,2013-05-30
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,2013-07-30,33.709500,-116.728850,Mountain Fire,2013-07-15
3,27440.0,Tahoe National Forest,2013,Placer,31,2013-08-30,39.120000,-120.650000,American Fire,2013-08-10
4,24251.0,Ventura County Fire/CAL FIRE,2013,Ventura,56,2013-05-11,0.000000,0.000000,Springs Fire,2013-05-02

In [14]:
#Use Python's datetime library to handle the dates and create new columns to hold discovery and contained months in addition to day of the year for the two
wildfires2['Discovery Month'] = ''
wildfires2['Discovery DOY'] = ''
wildfires2['Contained Month'] = ''
wildfires2['Contained_DOY'] = ''

In [15]:
import datetime
from datetime import datetime

for index, row in wildfires2.iterrows():
  date_discov = wildfires2.at[index, "Discovered DOY"]
  date_usable = datetime.strptime(date_discov, '%Y-%m-%d')

  wildfires2.at[index, "Discovery Month"] = date_usable.strftime("%b")
  wildfires2.at[index, "Discovery DOY"] = date_usable.strftime("%j")

  date_contained = wildfires2.at[index, "Contained DOY"]
  if date_contained != 'NaN':
    date_usable2 = datetime.strptime(date_contained, '%Y-%m-%d')

    wildfires2.at[index, "Contained Month"] = date_usable2.strftime("%b")
    wildfires2.at[index, "Contained_DOY"] = date_usable2.strftime("%j")
wildfires2.drop(['Contained DOY', 'Discovered DOY'], axis = 1, inplace = True)

In [16]:
wildfires2.head(5)

,AcresBurned,AdminUnit,Year,County,CountyIds,Latitude,Longitude,Name,Discovery Month,Discovery DOY,Contained Month,Contained_DOY
0,257314.0,Stanislaus National Forest/Yosemite National Park,2013,Tuolumne,55,37.857000,-120.086000,Rim Fire,Aug,229,Sep,249
1,30274.0,USFS Angeles National Forest/Los Angeles Count...,2013,Los Angeles,19,34.585595,-118.423176,Powerhouse Fire,May,150,Jun,159
2,27531.0,CAL FIRE Riverside Unit / San Bernardino Natio...,2013,Riverside,33,33.709500,-116.728850,Mountain Fire,Jul,196,Jul,211
3,27440.0,Tahoe National Forest,2013,Placer,31,39.120000,-120.650000,American Fire,Aug,222,Aug,242
4,24251.0,Ventura County Fire/CAL FIRE,2013,Ventura,56,0.000000,0.000000,Springs Fire,May,122,May,131

In [17]:
for index, rows in wildfires2.iterrows():
  wildfires2.at[index, 'Discovery DOY'] = int(wildfires2.at[index, 'Discovery DOY'])
  if wildfires2.at[index,'Contained_DOY'] != '':
    wildfires2.at[index, 'Contained_DOY'] = int(wildfires2.at[index, 'Contained_DOY'])

#Add a new feature for the number of days the fire burns uncontained
wildfires2['DaysBurn'] = ''

#Subtract for all non empty values of Contained_DOY to calculate the days each fire burned
for index, rows in wildfires2.iterrows():
  if type(wildfires2.at[index, 'Contained_DOY']) == type(wildfires2.at[index, 'Discovery DOY']):
    if wildfires2.at[index,'Contained_DOY'] - wildfires2.at[index,'Discovery DOY'] == 0:
      #If day contained = day started, the fire should be said to burn for 1 day (not 0)
      wildfires2.at[index, 'Contained_DOY'] = 1
    else:
      #take the absolute value to account for wildfires ending in january that start in december (would yield a negative w/o abs)
      wildfires2.at[index, 'DaysBurn'] = abs(wildfires2.at[index,'Contained_DOY'] - wildfires2.at[index,'Discovery DOY'])

In [18]:
#Now we will sort out any inconsistencies between the county codes in the two datasets
#Create a dictionary mapping california counties to their Ids
counties = dict(zip(wildfires2['County'],wildfires2['CountyIds']))
print(counties)

{'Tuolumne': '55', 'Los Angeles': '19', 'Riverside': '33', 'Placer': '31', 'Ventura': '56', 'Fresno': '10', 'Siskiyou': '47', 'Humboldt': '12', 'Tehama': '52', 'Shasta': '45', 'San Diego': '37', 'Kern': '15', 'Sonoma': '49', 'Contra Costa': '7', 'Butte': '4', 'Tulare': '54', 'Santa Barbara': '42', 'Mariposa': '22', 'Monterey': '27', 'El Dorado': '9', 'San Bernardino': '36', 'Plumas': '32', 'Modoc': '25', 'San Luis Obispo': '40', 'Madera': '20', 'Inyo': '14', 'Napa': '28', 'San Benito': '35', 'San Joaquin': '39', 'Lake': '17', 'Alameda': '1', 'Glenn': '11', 'Yolo': '57', 'Sacramento': '34', 'Stanislaus': '50', 'Solano': '48', 'Merced': '24', 'Mendocino': '23', 'Lassen': '18', 'Amador': '3', 'Yuba': '58', 'Nevada': '29', 'Santa Clara': '43', 'Calaveras': '5', 'San Mateo': '41', 'Orange': '30', 'Colusa': '6', 'Trinity': '53', 'Del Norte': '8', 'Mono': '26', 'Alpine': '2', 'Sutter': '51', 'Kings': '16', 'Sierra': '46', 'Santa Cruz': '44', 'Marin': '21', 'Mexico': '62,37', 'State of Oregon': '61', 'State of Nevada': '59'}

In [19]:
#When looking through the counties dictionary we see that Mexico, State of Oregon, and State of Nevada are included in 
#Although caltrain may have assisted in this firefighting efforts, we want to drop them from the dataset as we are exploring 
#only fires in the State of California.

In [20]:
#We use this chunk of code to remove four fires from the dataset that weren't actually in california
invalid_counties = ['Mexico', 'State of Oregon', 'State of Nevada']
print(len(wildfires2['County']))
for index, row in wildfires2.iterrows():
  if wildfires2.at[index,'County'] in invalid_counties:
    wildfires2.drop(index, inplace = True)
print(len(wildfires2['County']))

1636
1632

County codes in the first dataset are off for some reason so we have to correct them using the counties dictionary

In [21]:
#Keep track of all the indices with null values. We will leave these alone
nulls = []
for index in range(len(wildfires['County'])):
  if type(wildfires['County'][index]) == float:
    nulls.append(index)
    
#add in missing county codes when key errors arise by referencing the internet
counties['Imperial'] = 13
counties['San Francisco'] = 38
counties['Douglas'] = 'NaN'
for index, row in wildfires.iterrows():
  if index not in nulls:
    wildfires.at[index, 'CountyIds'] = counties[wildfires.at[index,'County']]

We also can add on fire size class to the second dataset using the criteria provided by the database.. As described by the database the classes are as follows: 

A=greater than 0 but less than or equal to 0.25 acres
B=0.26-9.9 acres
C=10.0-99.9 acres
D=100-299 acres
E=300 to 999 acres
F=1000 to 4999 acres
G=5000+ acres

In [22]:
wildfires2['Fire Size Rank'] = ''
for index, rows in wildfires2.iterrows():
  size_fire = wildfires2.at[index, 'AcresBurned']
  if size_fire >= 0 and size_fire <= 0.25:
    size_class = 'A'
  elif size_fire > 0.25 and size_fire <= 9.9:
    size_class = 'B'
  elif size_fire > 9.9 and size_fire <= 99.9:
    size_class = 'C'
  elif size_fire > 99.9 and size_fire <= 299:
    size_class = 'D'
  elif size_fire > 299 and size_fire <= 999:
    size_class = 'E'
  elif size_fire > 1000 and size_fire <= 4999:
    size_class = 'F'
  elif size_fire > 4999:
    size_class = 'G'
  wildfires2.at[index,'Fire Size Rank'] = size_class

In [23]:
wildfires.head(5)

,SOURCE_REPORTING_UNIT_NAME,Name,Year,Discovered DOY,Contained DOY,Cause,AcresBurned,Fire Size Rank,Latitude,Logitude,OWNER_DESCR,State,CountyIds,County
0,Plumas National Forest,FOUNTAIN,2005,33,33.0,Miscellaneous,0.10,A,40.036944,-121.005833,USFS,CA,32,Plumas
1,Eldorado National Forest,PIGEON,2004,133,133.0,Lightning,0.25,A,38.933056,-120.404444,USFS,CA,31,Placer
2,Eldorado National Forest,SLACK,2004,152,152.0,Debris Burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,9,El Dorado
3,Eldorado National Forest,DEER,2004,180,185.0,Lightning,0.10,A,38.559167,-119.913333,USFS,CA,2,Alpine
4,Eldorado National Forest,STEVENOT,2004,180,185.0,Lightning,0.10,A,38.559167,-119.933056,USFS,CA,2,Alpine

Now, we only need to add DaysBurn, Discovery Month, Discovery DOY, Contained Month, and Contained_DOY features onto the first dataset before saving the two datasets

In [24]:
wildfires = wildfires.astype({'Discovered DOY':'float', 'Contained DOY': 'float'})
#Use lambda function to add days burned feature to the dataframe. If Discovered and Contained DOY are the same the fire only burns for 1 day (not 0 days)
wildfires['DaysBurn'] = wildfires.apply(lambda x: (x['Contained DOY']- x['Discovered DOY']) if (x['Contained DOY'] != x['Discovered DOY']) else 1, axis =1)

In [25]:
wildfires['Discovery Month'] = ''
wildfires['Contained Month'] = ''

for index, row in wildfires.iterrows():
  d = str(wildfires.at[index,'Discovered DOY'])[0:-2]
  d_usable = datetime.strptime(d, '%j')
  wildfires.at[index,'Discovery Month'] = d_usable.strftime('%b')

  c = str(wildfires.at[index,'Contained DOY'])
  #Some fires have not been contained so only perform for non-NaN fires
  if c != 'nan':
    c = c[0:-2]
    c_usable = datetime.strptime(c, '%j')
    wildfires.at[index,'Contained Month'] = c_usable.strftime('%b')

In [26]:
wildfires.head(5)

,SOURCE_REPORTING_UNIT_NAME,Name,Year,Discovered DOY,Contained DOY,Cause,AcresBurned,Fire Size Rank,Latitude,Logitude,OWNER_DESCR,State,CountyIds,County,DaysBurn,Discovery Month,Contained Month
0,Plumas National Forest,FOUNTAIN,2005,33.0,33.0,Miscellaneous,0.10,A,40.036944,-121.005833,USFS,CA,32,Plumas,1.0,Feb,Feb
1,Eldorado National Forest,PIGEON,2004,133.0,133.0,Lightning,0.25,A,38.933056,-120.404444,USFS,CA,31,Placer,1.0,May,May
2,Eldorado National Forest,SLACK,2004,152.0,152.0,Debris Burning,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,9,El Dorado,1.0,Jun,Jun
3,Eldorado National Forest,DEER,2004,180.0,185.0,Lightning,0.10,A,38.559167,-119.913333,USFS,CA,2,Alpine,5.0,Jun,Jul
4,Eldorado National Forest,STEVENOT,2004,180.0,185.0,Lightning,0.10,A,38.559167,-119.933056,USFS,CA,2,Alpine,5.0,Jun,Jul

In [27]:
#Correct Final Inconstencies by adding on null columns to the second dataset for feature's it lacks
wildfires2['OWNER_DESCR'] = wildfires2.apply(lambda x: ('NaN'), axis =1)
wildfires2['Cause'] = wildfires2.apply(lambda x: ('NaN'), axis =1)
wildfires2['State'] = wildfires2.apply(lambda x: ('CA'), axis =1)

#Make sure all column names are identical
wildfires.rename(columns = {'Logitude':'Longitude'},inplace = True)
wildfires2.rename(columns = {'AdminUnit':'SOURCE_REPORTING_NAME', 'Contained_DOY':'Contained DOY'},inplace = True)

In [28]:
#Reorder columns in both dataframes in a logical way before saving them
wildfires = wildfires.reindex(columns=['Year', 'Name', 'AcresBurned', 'Fire Size Rank', 'Cause', 'SOURCE_REPORTING_UNIT_NAME', 'DaysBurn', 'Discovery Month', 'Discovered DOY',
                                       'Contained Month', 'Contained DOY', 'Latitude', 'Longitude','County','CountyIds', 'State', 'OWNER_DESCR'])
wildfires2 = wildfires2.reindex(columns = ['Year', 'Name', 'AcresBurned', 'Fire Size Rank', 'Cause', 'SOURCE_REPORTING_UNIT_NAME', 'DaysBurn', 'Discovery Month', 'Discovered DOY',
                                       'Contained Month', 'Contained DOY', 'Latitude', 'Longitude','County','CountyIds', 'State', 'OWNER_DESCR'])

We filter wildfires2 dataframe using the loc function because we don't want any overlap in the data (a case where the same fire occurs twice in the dataset) so we restrict to years 2016-2020 since the other dataframe goes up to 2015 wildfires in California.

In [33]:
w = wildfires2.loc[wildfires2['Year']> 2015]
w.reset_index(drop = True, inplace = True)
w.head(5)

,Year,Name,AcresBurned,Fire Size Rank,Cause,SOURCE_REPORTING_UNIT_NAME,DaysBurn,Discovery Month,Discovered DOY,Contained Month,Contained DOY,Latitude,Longitude,County,CountyIds,State,OWNER_DESCR
0,2016,Soberanes Fire,132127.0,G,NaN,NaN,83,Jul,NaN,Oct,287,36.45994,-121.89938,Monterey,27,CA,NaN
1,2016,Erskine Fire,48019.0,G,NaN,NaN,18,Jun,NaN,Jul,193,35.61150,-118.45628,Kern,15,CA,NaN
2,2016,Chimney Fire,46344.0,G,NaN,NaN,24,Aug,NaN,Sep,250,35.70595,-120.98316,San Luis Obispo,40,CA,NaN
3,2016,Blue Cut Fire,36274.0,G,NaN,NaN,7,Aug,NaN,Aug,236,34.30372,-117.49342,San Bernardino,36,CA,NaN
4,2016,Gap Fire,33867.0,G,NaN,NaN,1,Aug,NaN,Aug,241,41.85100,-123.11800,Siskiyou,47,CA,NaN

In [34]:
wildfires.head(5)

,Year,Name,AcresBurned,Fire Size Rank,Cause,SOURCE_REPORTING_UNIT_NAME,DaysBurn,Discovery Month,Discovered DOY,Contained Month,Contained DOY,Latitude,Longitude,County,CountyIds,State,OWNER_DESCR
0,2005,FOUNTAIN,0.10,A,Miscellaneous,Plumas National Forest,1.0,Feb,33.0,Feb,33.0,40.036944,-121.005833,Plumas,32,CA,USFS
1,2004,PIGEON,0.25,A,Lightning,Eldorado National Forest,1.0,May,133.0,May,133.0,38.933056,-120.404444,Placer,31,CA,USFS
2,2004,SLACK,0.10,A,Debris Burning,Eldorado National Forest,1.0,Jun,152.0,Jun,152.0,38.984167,-120.735556,El Dorado,9,CA,STATE OR PRIVATE
3,2004,DEER,0.10,A,Lightning,Eldorado National Forest,5.0,Jun,180.0,Jul,185.0,38.559167,-119.913333,Alpine,2,CA,USFS
4,2004,STEVENOT,0.10,A,Lightning,Eldorado National Forest,5.0,Jun,180.0,Jul,185.0,38.559167,-119.933056,Alpine,2,CA,USFS

Now that two dataframes have been reduced down to the same features and inconsistencies have been alleviated, we can save both to .csv. We can experiment with training and testing models and each later to see how they perform.

In [37]:
w.to_csv('CA_Wildfires_recent.csv', index = False)
wildfires.to_csv('CA_Wildfires_2001_2015.csv', index = False)