<a href="https://colab.research.google.com/github/mnocerino23/Wildfire-Forecaster/blob/main/California_CDEC_SnowData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this Jupyter notebook I read in and clean snow data from all major river basins in the mountains of California.

I collected data from California department of water resources data exchange center (https://cdec.water.ca.gov/dynamicapp/snowQuery).
I retrieved snow reports 2000-2020 for all of the major river basins in the state of California. Below I have all sites used for snow data and their respective river basin.




1.   Red Rock Mountain - Trinity River Basin
2.   Parks Creek - Shasta River Basin
3.   Mt. Shasta - Sacramento River Basin
4.   Brewer Creek - McCloud River Basin
5.   Cedar Pass - Pit River Basin
6.   Eureka Lake - Feather River Basin
7.   Yuba Pass - Yuba River Basin
8.   Ward Creek 2 - Lake Tahoe Basin
9.   Echo Summit - American River Basin
10.  Hams Station - Mokelumne River Basin
11.  Soda Creek Flat - Stanislaus River Basin
12.  Tuolomne Meadows - Tuolumne River Basin
13.  Snow Flat - Merced River Basin
14.  Gem Pass - Mono Lake Basin
15.  Piute Pass - San Joaquin River Basin
16.  Mammoth Pass - Owens River Basin
17.  Bishop Pass - Kings River Basin (this covers a large area so I chose two sites)
18.  Big Meadows - Kings River Basin
19.  Mineral King - Kaweah River Basin
20.  Cottonwood Pass - Kern River Basin

In [208]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [209]:
red_rock_mountain = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/RED ROCK MOUNTAIN.csv')
parks_creek = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/PARKS CREEK.csv')
mt_shasta = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MOUNT SHASTA.csv')
brewer_creek = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BREWER CREEK.csv')
cedar_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/CEDAR PASS.csv')
eureka_lake = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/EUREKA LAKE.csv')
yuba_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/YUBA PASS.csv')
ward_creek_2 = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/WARD CREEK 2.csv')
echo_summit = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/ECHO SUMMIT.csv')
hams_station = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/HAMS STATION.csv')
eagle_meadow = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/EAGLE MEADOW.csv')
tuolmne_meadows = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/TUOLUMNE MEADOWS.csv')
snow_flat = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/SNOW FLAT.csv')
gem_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/GEM PASS.csv')
piute_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/PIUTE PASS.csv')
mammoth_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MAMMOTH PASS.csv')
bishop_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BISHOP PASS.csv')
big_meadows = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BIG MEADOWS.csv')
mineral_king = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MINERAL KING.csv')
cottonwood_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/COTTONWOOD PASS.csv')

In [210]:
dataframes = [red_rock_mountain, parks_creek, mt_shasta, brewer_creek, cedar_pass, eureka_lake, yuba_pass, ward_creek_2,
              echo_summit, hams_station, eagle_meadow, tuolmne_meadows, snow_flat, gem_pass, piute_pass, 
              mammoth_pass, bishop_pass, big_meadows, mineral_king, cottonwood_pass]

In [211]:
for item in dataframes:
  cols = [3,5]
  item.drop(item.columns[cols],axis=1,inplace=True)

In [212]:
#Note the null columns in index 3 and 5. We want to drop these for all datasets
red_rock_mountain.head()

     Date Measured Date  Depth  W.C. Density
0  2/2000   27-Jan-2000   58.4  18.9     32%
1  3/2000   03-Mar-2000  150.0  54.7     36%
2  4/2000   30-Mar-2000  112.7  55.2     49%
3  5/2000   26-Apr-2000  100.1  52.0     52%
4  2/2001   30-Jan-2001   54.5  16.1     30%

In [213]:
#Extract month and year from the existing measured date feature using the datetime library
import datetime
from datetime import datetime

for item in dataframes:
  item['Month'] =''
  item['Year'] = ''
  for index, row in item.iterrows():
    d = item.at[index, 'Measured Date']
    n = datetime.strptime(d, '%d-%b-%Y')
    item.at[index,'Month'] = n.strftime('%b')
    item.at[index,'Year'] = n.strftime('%Y')

In [214]:
mammoth_pass.head()

     Date Measured Date  Depth  W.C. Density Month  Year
0  2/2000   31-Jan-2000   88.8  23.1     26%   Jan  2000
1  3/2000   25-Feb-2000  121.2  37.3     31%   Feb  2000
2  4/2000   28-Mar-2000  100.6  40.8     41%   Mar  2000
3  2/2001   31-Jan-2001   50.4  13.4     27%   Jan  2001
4  3/2001   28-Feb-2001   91.5  25.6     28%   Feb  2001

Feature we want to extract: we want to retrieve the march snowpack, water content, and snow density for each station during each year

In [215]:
#function takes in a dataframe and returns a dictionary storing 
#keys are the year
#values are tuples of the form: (snowpack depth, water content, density)
def get_snow_dictionary(df):
  snow_dict = {}
  df = df.loc[(df['Month'] == 'Mar') | (df['Month'] == 'Apr')]
  for index, rows in df.iterrows():
    if int(df.at[index,'Year']) not in snow_dict.keys():
      year = int(df.at[index,'Year'])

      #Caste depth and water content to floats
      depth = float(df.at[index,'Depth'])
      wc = float(df.at[index,'W.C.'])

      #convert density from a string holding percentage to its decimal equivalent 
      density = float(df.at[index,'Density'].replace("%", ""))/100
      snow_dict[year] = (depth, wc, density)

  return snow_dict

In [216]:
rrm = get_snow_dictionary(red_rock_mountain) 
pc = get_snow_dictionary(parks_creek)
ms = get_snow_dictionary(mt_shasta)
bc = get_snow_dictionary(brewer_creek)
cp = get_snow_dictionary(cedar_pass)
el = get_snow_dictionary(eureka_lake)
yp = get_snow_dictionary(yuba_pass)
wc = get_snow_dictionary(ward_creek_2) 
es = get_snow_dictionary(echo_summit)
hs = get_snow_dictionary(hams_station)
ew = get_snow_dictionary(eagle_meadow)
tm = get_snow_dictionary(tuolmne_meadows)
sf = get_snow_dictionary(snow_flat)
gp = get_snow_dictionary(gem_pass)
pp = get_snow_dictionary(piute_pass)
mp = get_snow_dictionary(mammoth_pass)
bp = get_snow_dictionary(bishop_pass) 
bm = get_snow_dictionary(big_meadows)
mk = get_snow_dictionary(mineral_king)
cop = get_snow_dictionary(cottonwood_pass)

In [217]:
cdec_stations = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/CDEC Stations.csv')
cdec_stations.head()

        CDEC Station River Basin   Latitude   Longitude
0  red_rock_mountain     Trinity  41.030665 -122.898736
1        parks_creek      Shasta  41.347617 -122.536860
2          mt_shasta  Sacramento  41.313923 -122.309908
3       brewer_creek     McCloud  41.405310 -122.055587
4         cedar_pass         Pit  41.561259 -120.269622