<a href="https://colab.research.google.com/github/mnocerino23/Wildfire-Forecaster/blob/main/California_CDEC_SnowData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this Jupyter notebook I read in and clean snow data from all major river basins in the mountains of California.

I collected data from California department of water resources data exchange center (https://cdec.water.ca.gov/dynamicapp/snowQuery).
I retrieved snow reports 2000-2020 for all of the major river basins in the state of California. Below I have all sites used for snow data and their respective river basin.




1.   Red Rock Mountain - Trinity River Basin
2.   Parks Creek - Shasta River Basin
3.   Mt. Shasta - Sacramento River Basin
4.   Brewer Creek - McCloud River Basin
5.   Cedar Pass - Pit River Basin
6.   Eureka Lake - Feather River Basin
7.   Yuba Pass - Yuba River Basin
8.   Ward Creek 2 - Lake Tahoe Basin
9.   Echo Summit - American River Basin
10.  Hams Station - Mokelumne River Basin
11.  Soda Creek Flat - Stanislaus River Basin
12.  Tuolomne Meadows - Tuolumne River Basin
13.  Snow Flat - Merced River Basin
14.  Gem Pass - Mono Lake Basin
15.  Piute Pass - San Joaquin River Basin
16.  Mammoth Pass - Owens River Basin
17.  Bishop Pass - Kings River Basin (this covers a large area so I chose two sites)
18.  Big Meadows - Kings River Basin
19.  Mineral King - Kaweah River Basin
20.  Cottonwood Pass - Kern River Basin

In [56]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
red_rock_mountain = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/RED ROCK MOUNTAIN.csv')
parks_creek = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/PARKS CREEK.csv')
mt_shasta = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MOUNT SHASTA.csv')
brewer_creek = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BREWER CREEK.csv')
cedar_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/CEDAR PASS.csv')
eureka_lake = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/EUREKA LAKE.csv')
yuba_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/YUBA PASS.csv')
ward_creek_2 = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/WARD CREEK 2.csv')
echo_summit = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/ECHO SUMMIT.csv')
hams_station = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/HAMS STATION.csv')
eagle_meadow = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/EAGLE MEADOW.csv')
tuolmne_meadows = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/TUOLUMNE MEADOWS.csv')
snow_flat = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/SNOW FLAT.csv')
gem_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/GEM PASS.csv')
piute_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/PIUTE PASS.csv')
mammoth_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MAMMOTH PASS.csv')
bishop_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BISHOP PASS.csv')
big_meadows = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BIG MEADOWS.csv')
mineral_king = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MINERAL KING.csv')
cottonwood_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/COTTONWOOD PASS.csv')

In [58]:
dataframes = [red_rock_mountain, parks_creek, mt_shasta, brewer_creek, cedar_pass, eureka_lake, yuba_pass, ward_creek_2,
              echo_summit, hams_station, eagle_meadow, tuolmne_meadows, snow_flat, gem_pass, piute_pass, 
              mammoth_pass, bishop_pass, big_meadows, mineral_king, cottonwood_pass]

In [59]:
for item in dataframes:
  cols = [3,5]
  item.drop(item.columns[cols],axis=1,inplace=True)

In [60]:
#Note the null columns in index 3 and 5. We want to drop these for all datasets
red_rock_mountain.head()

     Date Measured Date  Depth  W.C. Density
0  2/2000   27-Jan-2000   58.4  18.9     32%
1  3/2000   03-Mar-2000  150.0  54.7     36%
2  4/2000   30-Mar-2000  112.7  55.2     49%
3  5/2000   26-Apr-2000  100.1  52.0     52%
4  2/2001   30-Jan-2001   54.5  16.1     30%

In [61]:
import datetime
from datetime import datetime
for index, row in red_rock_mountain.iterrows():
  d = red_rock_mountain.at[index, 'Measured Date']
  n = datetime.strptime(d, '%d-%b-%Y')
  print(n)

2000-01-27 00:00:00
2000-03-03 00:00:00
2000-03-30 00:00:00
2000-04-26 00:00:00
2001-01-30 00:00:00
2001-02-27 00:00:00
2001-03-29 00:00:00
2001-04-25 00:00:00
2002-01-31 00:00:00
2002-03-03 00:00:00
2002-04-01 00:00:00
2002-04-25 00:00:00
2003-03-01 00:00:00
2003-03-30 00:00:00
2003-05-05 00:00:00
2004-03-03 00:00:00
2004-03-31 00:00:00
2004-04-29 00:00:00
2005-02-02 00:00:00
2005-04-02 00:00:00
2005-05-02 00:00:00
2006-02-06 00:00:00
2006-04-29 00:00:00
2007-02-01 00:00:00
2007-04-02 00:00:00
2007-04-26 00:00:00
2008-02-29 00:00:00
2008-04-04 00:00:00
2008-05-03 00:00:00
2009-04-03 00:00:00
2009-04-29 00:00:00
2012-04-30 00:00:00
2013-01-27 00:00:00
2013-02-23 00:00:00
2013-03-30 00:00:00
2013-04-27 00:00:00
2014-01-26 00:00:00
2014-03-02 00:00:00
2014-03-30 00:00:00
2014-04-26 00:00:00
2015-01-31 00:00:00
2015-02-28 00:00:00
2015-03-28 00:00:00
2015-05-03 00:00:00
2016-01-30 00:00:00
2016-02-25 00:00:00
2016-04-30 00:00:00
2017-01-28 00:00:00
2017-02-26 00:00:00
2017-04-29 00:00:00
2018-01-26 00:00:00
2018-02-24 00:00:00
2018-03-31 00:00:00
2019-01-27 00:00:00
2019-02-25 00:00:00
2019-03-31 00:00:00
2019-04-27 00:00:00
2020-01-31 00:00:00
2020-02-29 00:00:00
2020-05-01 00:00:00
2021-01-31 00:00:00

In [62]:
cedar_pass.head()

     Date Measured Date  Depth  W.C. Density
0  2/2000   25-Jan-2000   35.2   8.8     25%
1  4/2000   27-Mar-2000   35.5  14.2     40%
2  2/2001   29-Jan-2001   24.7   6.7     27%
3  4/2001   26-Mar-2001   13.2   4.4     33%
4  2/2002   28-Jan-2002   37.4  12.6     34%

Feature we want to extract: we want to retrieve the march snowpack, water content, and snow density for each station during each year

In [63]:
cdec_stations = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/CDEC Stations.csv')
cdec_stations.head()

        CDEC Station River Basin   Latitude   Longitude
0  red_rock_mountain     Trinity  41.030665 -122.898736
1        parks_creek      Shasta  41.347617 -122.536860
2          mt_shasta  Sacramento  41.313923 -122.309908
3       brewer_creek     McCloud  41.405310 -122.055587
4         cedar_pass         Pit  41.561259 -120.269622