<a href="https://colab.research.google.com/github/mnocerino23/Wildfire-Forecaster/blob/main/California_CDEC_SnowData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In this Jupyter notebook I read in and clean snow data from all major river basins in the mountains of California.

I collected data from California department of water resources data exchange center (https://cdec.water.ca.gov/dynamicapp/snowQuery).
I retrieved snow reports 2000-2020 for all of the major river basins in the state of California. Below I have all sites used for snow data and their respective river basin.




1.   Red Rock Mountain - Trinity River Basin
2.   Parks Creek - Shasta River Basin
3.   Mt. Shasta - Sacramento River Basin
4.   Brewer Creek - McCloud River Basin
5.   Cedar Pass - Pit River Basin
6.   Eureka Lake - Feather River Basin
7.   Yuba Pass - Yuba River Basin
8.   Ward Creek 2 - Lake Tahoe Basin
9.   Echo Summit - American River Basin
10.  Hams Station - Mokelumne River Basin
11.  Soda Creek Flat - Stanislaus River Basin
12.  Tuolomne Meadows - Tuolumne River Basin
13.  Snow Flat - Merced River Basin
14.  Gem Pass - Mono Lake Basin
15.  Piute Pass - San Joaquin River Basin
16.  Mammoth Pass - Owens River Basin
17.  Bishop Pass - Kings River Basin (this covers a large area so I chose two sites)
18.  Big Meadows - Kings River Basin
19.  Mineral King - Kaweah River Basin
20.  Cottonwood Pass - Kern River Basin

In [8]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [13]:
red_rock_mountain = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/RED ROCK MOUNTAIN.csv')
parks_creek = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/PARKS CREEK.csv')
mt_shasta = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MOUNT SHASTA.csv')
brewer_creek = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BREWER CREEK.csv')
cedar_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/CEDAR PASS.csv')
eureka_lake = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/EUREKA LAKE.csv')
yuba_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/YUBA PASS.csv')
ward_creek_2 = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/WARD CREEK 2.csv')
echo_summit = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/ECHO SUMMIT.csv')
hams_station = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/HAMS STATION.csv')
soda_creek_flat = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/SODA CREEK FLAT.csv')
tuolmne_meadows = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/TUOLUMNE MEADOWS.csv')
snow_flat = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/SNOW FLAT.csv')
gem_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/GEM PASS.csv')
piute_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/PIUTE PASS.csv')
mammoth_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MAMMOTH PASS.csv')
bishop_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BISHOP PASS.csv')
big_meadows = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/BIG MEADOWS.csv')
mineral_king = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/MINERAL KING.csv')
cottonwood_pass = pd.read_csv('/content/drive/MyDrive/Data_Science_Projects/Wildfires/CDEC/COTTONWOOD PASS.csv')

In [18]:
dataframes = [red_rock_mountain, parks_creek, mt_shasta, brewer_creek, cedar_pass, eureka_lake, yuba_pass, ward_creek_2,
              echo_summit, hams_station, soda_creek_flat, tuolmne_meadows, snow_flat, gem_pass, piute_pass, 
              mammoth_pass, bishop_pass, big_meadows, mineral_king, cottonwood_pass]

In [21]:
#visualize the format of all the CDEC snow data datasets
#Note the null columns in index 3 and 5. We want to drop these for all datasets
red_rock_mountain.head()

     Date Measured Date  Depth      W.C.   .1 Density
0  2/2000   27-Jan-2000   58.4 NaN  18.9  NaN     32%
1  3/2000   03-Mar-2000  150.0 NaN  54.7  NaN     36%
2  4/2000   30-Mar-2000  112.7 NaN  55.2  NaN     49%
3  5/2000   26-Apr-2000  100.1 NaN  52.0  NaN     52%
4  2/2001   30-Jan-2001   54.5 NaN  16.1  NaN     30%

In [23]:
for item in dataframes:
  cols = [3,5]
  item.drop(item.columns[cols],axis=1,inplace=True)

In [29]:
cedar_pass.head()

     Date Measured Date  Depth  W.C. Density
0  2/2000   25-Jan-2000   35.2   8.8     25%
1  4/2000   27-Mar-2000   35.5  14.2     40%
2  2/2001   29-Jan-2001   24.7   6.7     27%
3  4/2001   26-Mar-2001   13.2   4.4     33%
4  2/2002   28-Jan-2002   37.4  12.6     34%

Feature we want to extract: we want to have the max snowpack depth for each station at every year